body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom right, #e3f2fd, #90caf9);
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

.card-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card-container input {
  padding: 10px;
  margin-bottom: 15px;
}

.card-container button {
  background-color: #1565c0;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}
